SERVER_PORT=8086

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/monkmarket_audit
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=CHANGE_ME

EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-registry:8761/eureka/

JPA_SHOW_SQL=false