SERVER_PORT=8081

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/monkmarket_auth
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=CHANGE_ME

EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-registry:8761/eureka/

JWT_SECRET=CHANGE_ME
JWT_EXPIRATION=86400000

JPA_SHOW_SQL=false